<h1>Sessions#new</h1>
<form action="<%= session_url %>" method="POST">
  <%= auth_token_input%>
  <label>
    username
    <input type="text" name="user[username]" value ="">
  </label>
  
  <label>
    password
     <input type="password" name="user[password]" value ="">
  </label>
  
  <input type="submit" value="Log In">
</form>
